{% extends "layout.html" %}
{% block title %}Assign a category to unidentified targets:{% endblock %}
{% block content %}
        <script src="/static/cashio.js"></script>
        <div class="row">
          <div class="col-md-10">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-md-1">To</th>
                  <th class="col-md-1">Date</th>
                  <th class="col-md-1">Amount</th>
                  <th class="col-md-1">From</th>
                  <th class="col-md-6">Category</th>
                </tr>
              </thead>
              <tbody id="table-content">
                {% for transaction in transactions %}
                  <td>{{transaction.target}}</td>
                  <td>{{transaction.date}}</td>
                  <td>{{transaction.amount}}</td>
                  <td>{{transaction.owner}}</td>
                  <td class="col-md-4">
                    <div class="{{transaction.id}}">
                      <div class="{{transaction.targetid}}">
                        <form class="form-inline">
                          sorts as
                          <select class="form-control" id="select-{{transaction.id}}">
                            <option value="--">--</option>
                            {% for category in categories %}
                            <option value="{{category}}">{{category}}</option>
                            {% endfor %}
                          </select>
                          <button type="button" class="btn btn-default" onclick="assign_target_category('{{transaction.category}}', '{{transaction.targetid}}', '{{transaction.date}}', '{{transaction.id}}')">Always</button>
                          <button type="button" class="btn btn-default" onclick="assign_target_category('{{transaction.date}}:{{transaction.category}}', '{{transaction.targetid}}', '{{transaction.date}}', '{{transaction.id}}')">On {{transaction.date}} only</button>
                        </form>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
{% endblock %}
