<!doctype html>
<html>
  <head>
    <title>Cashio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.css" rel="stylesheet" media="screen">
    <script src="/static/jquery-1.11.2.min.js"></script>
    <script src="/static/bootstrap.js"></script>
    <script src="/static/Chart.js"></script>
    <script src="/static/hello.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  </head>
  <body role="document">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Cashio</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/monthly_report">Monthly Report</a></li>
              <li><a href="/yearly_report">Yearly Report</a></li>
              <li><a href="/">Edit Categories</a></li>
              <li><a href="/jquery/">jquery lab</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">DB<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">GET requests</li>
                  <li><a href="/api/v0/transactions/get_years">transactions/get_years</a></li>
                  <li><a href="/api/v0/transactions/get/2014-12">transactions/get/yyyy-mm</a></li>
                  <li><a href="/api/v0/categories/get_names">categories/get_names</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">POST requests</li>
                  <li><a href="#">TODO</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      <div class="page-header">
        <h1>{% block title %}{% endblock %}</h1>
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
