{% extends "layout.html" %}
{% block title %}Choose a month{% endblock %}
{% block content %}
        <script src="/static/fill-transaction-table.js"></script>
        <h4>
          <p>
            {% for year in transaction_years %}
              <button type="button" class="btn btn-sm btn-default">
                <div class="dropdown">
                  <a id="dropdownMenu1" href="#" data-toggle="dropdown" role="button">{{year}} <span class="caret"></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <table class="table">
                      <tbody>
                        <tr>
                          {% for month in ['Jan', 'Feb', 'Mars', 'April'] %}
                          <td><a onclick="load_monthly_transactions('{{year}}', '{{month_to_digit[month]}}')" href="#">{{month}}</a></td>
                          {% endfor %}
                        </tr>
                        <tr>
                          {% for month in ['Mai', 'June', 'July', 'Aug'] %}
                          <td><a onclick="load_monthly_transactions('{{year}}', '{{month_to_digit[month]}}')" href="#">{{month}}</a></td>
                          {% endfor %}
                        </tr>
                        <tr>
                          {% for month in ['Sept', 'Oct', 'Now', 'Dec'] %}
                          <td><a onclick="load_monthly_transactions('{{year}}', '{{month_to_digit[month]}}')" href="#">{{month}}</a></td>
                          {% endfor %}
                        </tr>
                      </tbody>
                    </table>
                  </ul>
                </div>
              </button>
            {% endfor %}
          </p>
        </h4>

        <canvas id="spendings" width="700" height="400"></canvas>
        <canvas id="balance" width="150" height="400"></canvas>

        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>To</th>
                  <th>From</th>
                  <th>Category</th>
                </tr>
              </thead>
              <tbody class="table-content">
              </tbody>
            </table>
          </div>
        </div>
{% endblock %}
