{% extends "layout.html" %}
{% block title %}Choose a year{% endblock %}
{% block content %}
        <script>
        // Google chart needs to be loaded before the call to jQuery.ready()
        google.load('visualization', '1.0', {'packages':['corechart']});
        google.setOnLoadCallback(function() {
           var script = document.createElement("script");
           script.setAttribute("type", "text/javascript");
           script.setAttribute("src", "/static/cashio.js");
           document.getElementsByTagName("html")[0].appendChild(script);
        });
        </script>
        <h4>
          <p>
            <form class="form-horizontal">
              <div class="select-years">
                <button type="submit" onclick="list_selected_checkboxes_and_show_years(); return false;">Show</button>
                <div class="btn-group" data-toggle="buttons">
                  {% for year in years %}
                  <label class="btn btn-info">
                    <input id="checkbox-{{year}}" type="checkbox" value="{{year}}"> {{year}}
                  </label>
                  {% endfor %}
                </div>
              </div>
            </form>
          </p>
        </h4>

        <script>
        function list_selected_checkboxes_and_show_years() {
          years = [];
          {% for year in years %}
          if (document.getElementById('checkbox-{{year}}').checked) {
            years.push("{{year}}");
          }
          {% endfor %}
          load_many_years_transactions(years);
        }
        </script>

        <div id="repartition" width="700px" height="1000px"></div><br>
        <canvas id="spendings" width="700px" height="400px"></canvas><br>
        <div id="chart_balance" width="300px" height="300px"></div><br>
{% endblock %}
